# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.fseventsd
.DocumentRevisions-V100
.TemporaryItems
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Xcode
build/
DerivedData/
*.moved-aside
*.pbxuser
*.perspectivev3
*.mode1v3
*.mode2v3
*.hmap
*.ipa
*.dSYM.zip

# Xcode user data
xcuserdata/
*.xcuserstate
*.xcuserdatad/
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/screenshots/**/*.png
fastlane/test_output

# Playgrounds
timeline.xctimeline
playground.xcworkspace
